APP_NAME="Drive-by Download ML Lab"
APP_ENV=local
APP_URL=http://localhost:8081
APP_TIMEZONE=UTC

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=driveby_lab
DB_USERNAME=driveby_lab
DB_PASSWORD=driveby_lab_dev_password

FETCH_TIMEOUT_SECONDS=5
FETCH_MAX_BYTES=1048576
